<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
  
    <classes>
      	<class name="example.NewTest">
      		<parameter name="Browser" value="Chrome"></parameter>
    	</class>
      
    <!--<class name="example.NewTest" >
      	<parameter name="Browser" value="Firefox"></parameter>
      </class>
      
      
    <class name="example.NewTest" >
      	<parameter name="Browser" value="Edge"></parameter>
      </class>-->
    
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
